.query-field {
  font-size: 14px;
  font-family: Consolas, Menlo, Courier, monospace;
  height: auto;
}

.query-field-wrapper {
  position: relative;
  display: inline-block;
  padding: 6px 7px 4px;
  width: 80%;
  cursor: text;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  background-image: none;
  border: 1px solid lightgray;
  border-radius: 4px;
  transition: all 0.3s;
}
